@use 'src/scss/utilities.scss';

.bios {
  margin: 0 auto;
  @include utilities.readabilityWidth();
}

.bios__list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.bios__person {
  border: 1px solid utilities.$slightFlyoverBlue;
  border-radius: 1rem;
  padding: 1rem;

  img {
    max-width: 50%;
  }
}
