@use 'src/scss/utilities.scss';

.arcade {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  @media (orientation: portrait) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(65vh, 3fr) minmax(35vh, 1fr);
    grid-template-areas: 'screen screen' 'control panel';
  }
  @media (orientation: landscape) {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'screen panel' 'screen control';
  }
}

.arcade__screen {
  $gutterWidth: 2rem;

  grid-area: screen;
  background-color: utilities.$black;
  color: utilities.$flyoverBlue;
  padding: $gutterWidth * 2 $gutterWidth;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: $gutterWidth;
    left: $gutterWidth;
    right: $gutterWidth;
    height: $gutterWidth;
    background-color: utilities.$white;
    border-radius: $gutterWidth $gutterWidth 0 0;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: $gutterWidth;
    left: $gutterWidth;
    right: $gutterWidth;
    height: $gutterWidth;
    background-color: utilities.$white;
    border-radius: 0 0 $gutterWidth $gutterWidth;
  }
  .arcade__screenContent {
    background-color: utilities.$white;
    padding: 0rem $gutterWidth;
    overflow-y: auto;
    height: 100%;
    position: relative;
  }
}

.arcade__controls {
  grid-area: control;
  background-color: utilities.$flyoverBlue;
  color: utilities.$white;
}

.arcade__panel {
  grid-area: panel;
  background-color: utilities.$black;
  color: utilities.$white;
}
