@use 'sass:color';
@use 'src/scss/utilities.scss';

.button {
  $buttonRoundness: 4rem;
  $innerStripeWidth: 2px;
  $innerStripeOffset: -6px;
  $innerStripeChange: 0px;
  $buttonHeight: 8px;
  $buttonShadowLength: 6px;
  $pressAmount: 4px;
  $sideShadowStyle: 0px 4px 2px 0px
    color.scale(utilities.$effThisOrange, $blackness: 15%);
  $bottomShadowColor: rgba(utilities.$black, 0.25);
  $easingFunction: cubic-bezier(0.87, 0, 0.13, 1);
  $easingTime: 0.15s;

  // basics
  position: relative;
  display: inline-flex;
  padding: 1rem 2rem;
  border-radius: $buttonRoundness;
  font-family: utilities.$headingFont;
  font-weight: bold;
  color: utilities.$white;

  // inside button
  background-color: utilities.$batigansMawOrange;
  outline: $innerStripeWidth solid utilities.$effThisOrange;
  outline-offset: $innerStripeOffset;

  // bottom side
  box-shadow: $sideShadowStyle,
    0px $buttonHeight 0px 0px utilities.$effThisOrange;

  // transition
  transform: translate3d(0, 0, 0);
  transition: transform $easingTime $easingFunction,
    box-shadow $easingTime $easingFunction;

  // shadow
  &:after {
    transition: all $easingTime $easingFunction;
    content: '';
    position: absolute;
    top: $buttonHeight / 2;
    bottom: -$buttonHeight;
    left: 0;
    right: 0;
    border-radius: $buttonRoundness;
    box-shadow: 0px $buttonShadowLength 0px 0px $bottomShadowColor;
  }

  &:hover {
    // transition
    transform: translate3d(0, $pressAmount, 0);
    // background-color: utilities.$batigansMawOrange;

    // inside button
    // outline: $innerStripeWidth + $innerStripeChange solid
    //   utilities.$effThisOrange;
    // outline-offset: $innerStripeOffset - $innerStripeChange;

    // bottom side
    box-shadow: $sideShadowStyle,
      0px $buttonHeight - $pressAmount 0px 0px utilities.$effThisOrange;

    // shadow
    &:after {
      transform: translate3d(0, -$pressAmount, 0);
      box-shadow: 0px $buttonShadowLength - $pressAmount 0px 0px
        $bottomShadowColor;
    }
  }

  // temp
  margin-bottom: 3rem;

  &:any-link {
    text-decoration: none;
    color: utilities.$white;
  }
}
