$animationDurationTime: 1.52;
$animationDelayTime: 0.2;
$animationDelay: #{$animationDelayTime}s;
$animationDuration: #{$animationDurationTime}s;

:export {
  var_animationTiming: $animationDelayTime;
  var_animationDuration: $animationDurationTime;
}

.batigan {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.batigan__logo {
  max-width: 180px;
  max-height: 180px;
}

$spriteWidth: 13110px / 3;
$spriteHeight: 690px / 3;
$frameCount: 19;
$framePercent: (100 / $frameCount) * 1%;

// wrapper
.batigan__gif {
  $gifSize: $spriteHeight;
  // $gifSize: 180px;
  width: $gifSize;
  height: $gifSize;

  position: relative;
  overflow: hidden;
}

.batigan__sprite {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: $spriteHeight;
  width: $spriteWidth;
  max-width: $spriteWidth;

  animation: flyAnimation;
  animation-timing-function: step-end;
  animation-iteration-count: 1;
  animation-duration: $animationDuration;
  animation-delay: $animationDelay;
}

@keyframes flyAnimation {
  @for $i from 0 through $frameCount - 1 {
    #{$i * $framePercent} {
      transform: translateX($spriteHeight * -$i);
    }
  }
}
