@use 'src/scss/utilities';

// see _fullCalendar.scss for all the overrides -_-

.nextEvent {
  display: flex;
  flex-direction: column;
  margin: 0 auto 3rem;
  @include utilities.readabilityWidth();
}
