// @import 'bulma/bulma';
@import url('https://fonts.googleapis.com/css?family=Knewave');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
$knewave: 'Knewave', cursive;
$sourcecode: 'Source Code Pro', monospace;


// 1. Import the initial variables
// @import "../sass/utilities/initial-variables";
// @import "../sass/utilities/functions";
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// 2. Set your own initial variables
$grey-darker:  hsl(0, 0%, 20%) !default;
$white-ter:    hsl(0, 0%, 94%) !default;

$orange:       hsl(12,  65%, 99%) !default;
$yellow:       hsl(42,  48%, 99%) !default;
// $green:        hsl(141, 71%,  48%) !default;
// $turquoise:    hsl(171, 100%, 41%) !default;
// $cyan:         hsl(204, 86%,  53%) !default;
$blue:         hsl(211, 100%,  99%) !default;
// $purple:       hsl(271, 100%, 71%) !default;
// $red:          hsl(348, 100%, 61%) !default;

$family-sans-serif: $sourcecode;
$family-monospace: $sourcecode;

// 3. Set the derived variables
$primary: $blue;

// $info: $cyan !default;
// $success: $green !default;
// $warning: $yellow !default;
// $danger: $red !default;

// $light: $white-ter !default;
// $dark: $grey-darker !default;

// $background: $orange;

// $border: $grey-lighter !default;
// $border-hover: $grey-light !default;

// $text: $blue;
// $text-invert: findColorInvert($text) !default;
// $text-light: $grey !default;
// $text-strong: $grey-darker !default;

// $link: $blue !default;
// $link-invert: $blue-invert !default;
// $link-visited: $purple !default;

// $link-hover: $grey-darker !default;
// $link-hover-border: $grey-light !default;

// $link-focus: $grey-darker !default;
// $link-focus-border: $blue !default;

// $link-active: $grey-darker !default;
// $link-active-border: $grey-dark !default;

$family-primary: $sourcecode;
$family-secondary: $knewave;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
// @import "../sass/utilities/derived-variables.sass";
@import "bulma/sass/utilities/derived-variables.sass";

$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import 'bulma/bulma';

// 7. Party.
.fi-container {
  max-width: 540px;
}

.fi-box {
  // background: $background;
}

.fi-title {
  font-family: $family-secondary;
}
