// @import 'bulma/bulma';
@import url('https://fonts.googleapis.com/css?family=Knewave');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
$knewave: 'Knewave', monospace;
$sourcecode: 'Source Code Pro', monospace;


// 1. Import the initial variables
// @import "../sass/utilities/initial-variables";
// @import "../sass/utilities/functions";
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// 2. Set your own initial variables
$grey-darker:  rgb(51, 51, 51);
$white-ter:    rgb(239, 239, 239);

$orange:       rgb(252, 120, 88);
$yellow:       rgb(252, 216, 132);
// $green:        hsl(141, 71%,  48%);
// $turquoise:    hsl(171, 100%, 41%);
// $cyan:         hsl(204, 86%,  53%);
$blue:         rgb(0, 120, 252);
// $purple:       hsl(271, 100%, 71%);
// $red:          hsl(348, 100%, 61%);

$family-sans-serif: $sourcecode;
$family-monospace: $sourcecode;

// 3. Set the derived variables
$primary: $blue;

$info: $orange;
// $success: $green !default;
// $warning: $yellow !default;
// $danger: $red !default;

// $light: $white-ter !default;
// $dark: $grey-darker !default;

$background: $orange;

$border: $blue;
// $border-hover: $grey-light !default;

$text: $grey-darker;
// $text-invert: findColorInvert($text) !default;
// $text-light: $grey !default;
// $text-strong: $grey-darker !default;

$link: $blue;
// $link-invert: $blue-invert !default;
// $link-visited: $purple !default;

$link-hover: $orange;
// $link-hover-border: $yellow;

// $link-focus: $grey-darker !default;
// $link-focus-border: $blue !default;

// $link-active: $grey-darker !default;
// $link-active-border: $grey-dark !default;

$family-primary: $sourcecode;
$family-secondary: $knewave;

$title-color: $blue;
$subtitle-color: $grey-darker;
$body-background-color: $background;
$box-background-color: $yellow;
$card-background-color: $grey-darker;
// $card-color: $grey-darker;
$hr-height: 0.25rem;

// $tabs-link-color: $blue;
// $tabs-link-hover-color: $blue;
$tabs-link-hover-border-bottom-color: $orange;
$tabs-border-bottom-width: $hr-height;

// $label-color: $white-ter;
$input-background-color: $white-ter;

$button-color: $white-ter;
$button-background-color: $blue;
$button-border-color: $blue;

$button-hover-color: $white-ter;
$button-text-hover-color: $white-ter;
$button-hover-border-color: $orange;


// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
// @import "../sass/utilities/derived-variables.sass";
@import "bulma/sass/utilities/derived-variables.sass";

$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import 'bulma/bulma';



// 7. Party.
.fi-container {
  max-width: 55rem;
  background-color: $white-ter;
  padding: 5rem 10rem;
  @media (max-width:1000px){
    margin: 0 1.5rem;
    padding: 1.5rem;
  }
  @media (max-width:500px){
    margin: 0;
  }
}

.fi-title {
  font-family: $family-secondary;
  margin-bottom: 1rem;
}

.fi-logo {
  width: 50%;
  @media (max-width:500px){
    width: 100%;
  }
}

.media {
  & + .media {
    border-top: $hr-height/2 solid $grey-darker;
  }
}

.fi-button:hover {
  background-color: $orange;
}
