@use './utilities.scss';
@import './reset';
@import './fullCalendar';

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
  background-color: utilities.$black;
}

body {
  font-family: utilities.$bodyFont;
  font-size: 1.6rem;
  line-height: 2;

  /* mobile viewport bug fix */
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

@each $heading, $size in utilities.$headingSizes {
  #{$heading} {
    font-family: utilities.$headingFont;
    font-size: $size;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 2rem;
  }
}

p {
  color: utilities.$black;
  font-size: utilities.$bodySize;
  margin-bottom: 2rem;
}
