@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

$bodyFont: 'Source Code Pro';
$headingFont: 'Fredoka One';

$bodySize: 1.4rem;
$headingSizes: (
  'h1': 2.8rem,
  'h2': 2.2rem,
  'h3': 1.8rem,
  'h4': 1.4rem,
  'h5': 2.4rem,
  'h6': 2.4rem,
);

$maxTextWidth: 70ch;
$portraitContentHeight: 65vh;
$landscapeContentWidth: 65vw;

// https://hexcolor.co/hex/0078fc
$flyoverBlue: #0078fc;
$slightFlyoverBlue: #89bef7;
$batigansMawOrange: #fc7858;
$effThisOrange: #f7541e;
$brightPink: #fc0078;
$slightPink: #fc93c6;
$brightBlue: #78ffff;
$slightBlue: #d6f5f5;
$brightWhite: #ffffff;
$white: rgba(#e3e3e3, 1);
$black: #292929;
$deepBlack: #000000;
$transparent: rgba($white, 0);

// maybe?
$groundLightGold: #fddc5c;
$hebdomadalSandYellow: #fce166;
$silvernSunflower: #ffc512;
$gutsiestSandYellow: #fde166;
$observantDark: #1b2431;
$ordainedCobalt: #1e488f;
$amalgamativeGrapePurple: #5d1451;
$hunkyMutedPurple: #805b87;
$calibredFadedRed: #d3494e;
$runcinateLightTeal: #90e4c1;
$bangingPastelPink: #ffbacd;

$smearedCoralPink: #ff6163;
$midlandBlueGreen: #056e5d;
// $midlandBlueGreen: #137e6d;
$uncloisteredVeryPaleGreen: #d7fdc6;
// $uncloisteredVeryPaleGreen: #cffdbc;

$zindexes: (
  'overlayContent': 90,
  'overlayAll': 100,
);

@mixin readabilityWidth($fontSize: $bodySize) {
  max-width: $maxTextWidth;
  font-size: $fontSize;
}
