@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Code+Pro:wght@300&display=swap');

$headingFont: 'Fredoka One';
$bodyFont: 'Source Code Pro';

// https://hexcolor.co/hex/0078fc
$flyoverBlue: #0078fc;
$slightFlyoverBlue: #89bef7;
$batigansMawOrange: #fc7858;
$brightPink: #fc0078;
$slightPink: #fc93c6;
$brightBlue: #78ffff;
$slightBlue: #d6f5f5;
$white: #e3e3e3;
$black: #292929;

// maybe?
$effThisOrange: #f7541e;
$hebdomadalSandYellow: #fce166;
$silvernSunflower: #ffc512;
$gutsiestSandYellow: #fde166;
$observantDark: #1b2431;
$ordainedCobalt: #1e488f;

$smearedCoralPink: #ff6163;
$midlandBlueGreen: #137e6d;
$uncloisteredVeryPaleGreen: #cffdbc;
