@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Code+Pro:wght@300&display=swap');

$bodyFont: 'Source Code Pro';
$headingFont: 'Fredoka One';

$bodySize: 1.4rem;
$headingSizes: (
  'h1': 2.8rem,
  'h2': 2.2rem,
  'h3': 1.8rem,
  'h4': 1.4rem,
  'h5': 2.4rem,
  'h6': 2.4rem,
);

$maxTextWidth: 70ch;

// https://hexcolor.co/hex/0078fc
$flyoverBlue: #0078fc;
$slightFlyoverBlue: #89bef7;
$batigansMawOrange: #fc7858;
$effThisOrange: #f7541e;
$brightPink: #fc0078;
$slightPink: #fc93c6;
$brightBlue: #78ffff;
$slightBlue: #d6f5f5;
$white: #e3e3e3;
$black: #292929;
$transparent: rgba(255, 255, 255, 0);

// maybe?
$hebdomadalSandYellow: #fce166;
$silvernSunflower: #ffc512;
$gutsiestSandYellow: #fde166;
$observantDark: #1b2431;
$ordainedCobalt: #1e488f;

$smearedCoralPink: #ff6163;
$midlandBlueGreen: #137e6d;
$uncloisteredVeryPaleGreen: #cffdbc;

@mixin readabilityWidth($fontSize: $bodySize) {
  max-width: $maxTextWidth;
  font-size: $fontSize;
}
