@use 'src/scss/utilities.scss';

$textLogoColor: utilities.$flyoverBlue;
$textLogoSize: 170px;
$spriteWidth: 13110px / 3;
$spriteHeight: 690px / 3;

$frameCount: 19;
$framePercent: (100 / $frameCount) * 1%;

$animationDurationTime: 1.52;
$animationDelayTime: 0.25;
$animationDelay: #{$animationDelayTime}s;
$animationDuration: #{$animationDurationTime}s;

:export {
  var_animationDelay: $animationDelayTime;
  var_animationDuration: $animationDurationTime;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.logo__text {
  width: $textLogoSize;
  height: $textLogoSize;
  max-width: $textLogoSize;
  max-height: $textLogoSize;
}

.logo__aside {
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  padding-top: 130px;
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  color: utilities.$flyoverBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.logo__svg {
  color: $textLogoColor;
  transition: color ease-in-out 0.25s;
  svg {
    transition: all ease-in-out 0.25s;
    filter: drop-shadow(0px 2px 0px utilities.$transparent);
  }
  &:hover {
    cursor: pointer;
    transition: color ease-in-out 0.25s;
    color: utilities.$batigansMawOrange;
    svg {
      transition: all ease-in-out 0.25s;
      filter: drop-shadow(0px 2px 0px utilities.$flyoverBlue);
    }
  }
}

.logo__batigan {
  position: relative;
  overflow: hidden;
  width: $spriteHeight;
  height: $spriteHeight;
}

.logo__sprite {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: $spriteHeight;
  width: $spriteWidth;
  max-width: $spriteWidth;

  animation: flyAnimation;
  animation-timing-function: step-end;
  animation-iteration-count: 1;
  animation-duration: $animationDuration;
  animation-delay: $animationDelay;
}

@keyframes flyAnimation {
  @for $i from 0 through $frameCount - 1 {
    #{$i * $framePercent} {
      transform: translateX($spriteHeight * -$i);
    }
  }
}
